# Import needed libraries

In [239]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

# Get all the page Content

In [240]:
src = requests.get("https://english.ahram.org.eg/AllCategory/5/159/Arts--Culture/Entertainment/0.aspx").content
soup= BeautifulSoup(src , "lxml")

# Select some specific needed tags

In [241]:
#article_src=[]
#articles_src =soup.find_all("div",{"class":"num_result"})

article_title=[]
articles_title= soup.find_all("div",{"class":"col-md-12 col-lg-12 mar-top-outer"})

#article_date=[]
#articles_date= soup.find_all("div",{"class":"name_result"})

links=[]

# Extract only text from the scaped data

In [242]:
for i in range(len(articles_title)):
    article_title.append(articles_title[i].text)

In [243]:
Articles_Scraper = pd.DataFrame(
    {
     'Article Title': article_title,
    })

#Articles_Scraper['Article content'].str.strip()
Articles_Scraper['Article Title'] = Articles_Scraper['Article Title'].str[2:]
Articles_Scraper['Category']='Art'
Articles_Scraper

                                        Article Title Category
0   Aroma Studios reveal poster of Ramadan TV seri...      Art
1   Netflix to launch new Arabic production with E...      Art
2   'Dark Shadows,' 'Lethal Weapon' actor Mitchell...      Art
3   INTERVIEW: Greek architect Tilemachos Andriano...      Art
4   Egypt’s streaming platform Watchit reveals con...      Art
5   'CODA' takes top honors at SAG Awards, Will Sm...      Art
6   Egyptian megastar Amr Diab announces Anghami a...      Art
7   Fans surprised as Egyptian pop icon Amr Diab r...      Art
8   Scottish actor Gerard Butler enjoys vacation i...      Art
9   Hend Sabry’s Finding Ola continues to soar amo...      Art
10  Egypt’s new talent show El-Dome kicks-off with...      Art
11  Rogan dispute draws Spotify into content liabi...      Art
12  Original 'Fight Club' ending restored in China...      Art
13  Hend Sabry’s TV series ‘Finding Ola’ top trend...      Art
14  Spotify to link virus content to Covid facts a...      Art
15  Netflix’s first Arabic film production remains...      Art
16  Disney+ to launch in Egypt this summer\n\n\n\n...      Art
17  China gives 'Fight Club' new ending where auth...      Art
18  Egypt’s Actors’ Syndicate defends Mona Zaki as...      Art
19  Netflix's first Arabic film Perfect Strangers ...      Art

In [244]:
Articles_Scraper.to_csv('magic.csv')

In [206]:
df2= pd.read_csv('ACCident_Articles320.csv')
df3= pd.read_csv('ACCident_Articles340.csv')
df4= pd.read_csv('ACCident_Articles360.csv')
df5= pd.read_csv('ACCident_Articles380.csv')
df6= pd.read_csv('ACCident_Articles400.csv')
df7= pd.read_csv('ACCident_Articles420.csv')
df8= pd.read_csv('ACCident_Articles440.csv')
df9= pd.read_csv('ACCident_Articles460.csv')
df10= pd.read_csv('ACCident_Articles480.csv')
df11= pd.read_csv('ACCident_Articles500.csv')
df12= pd.read_csv('ACCident_Articles520.csv')
df13= pd.read_csv('ACCident_Articles540.csv')
df14= pd.read_csv('ACCident_Articles560.csv')
df15= pd.read_csv('ACCident_Articles580.csv')
df16= pd.read_csv('ACCident_Articles600.csv')
df1= pd.read_csv('ACCident_Articles620.csv')
final= pd.read_csv('Final_df.csv')

Final_df = pd.concat([df1, df2 , df3 , df4 , df5 , df6 , df7 , df8, df9, df10, df11, df12, df13, df14, df15, df16,final], ignore_index=True)
Final_df = Final_df.drop(columns=['Unnamed: 0'])
Final_df.rename(columns={'Atricle Source': 'Atricle Category'}, inplace=True)

Final_df.shape

(640, 2)

In [207]:
Final_df.to_csv('Final_df.csv')

In [208]:
Final_df

                                         Article Title Category
0    Arsenal beats Southampton 3-0 without dropped ...   sports
1    Bayern down Mainz to go six points clear in th...   sports
2    Sterling's penalty gives Man City 1-0 win over...   sports
3    Indian police hold man for stealing Maradona's...   sports
4    UEFA cancels Covid-postponed Tottenham v Renne...   sports
..                                                 ...      ...
635  Germany Bundesliga results & scorers (21st mat...   sports
636  Barcelona go fourth after winning six-goal thr...   sports
637  Dortmund humiliated by Leverkusen in Haaland's...   sports
638  Back from injury, 1st Liverpool goal for teen ...   sports
639  Manchester City, Chelsea, Spurs get favourable...   sports

[640 rows x 2 columns]