In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# At first of this process, we have 3 csv files each is about 10000 records.
1. Concat them into one cdv file.
2. drop dublicates if found.
3. remove spaces in the text.

In [2]:
# concatinating three files
art= pd.read_csv('Art.csv')
economy= pd.read_csv('Economy.csv')
sports= pd.read_csv('Sports.csv')

df = pd.concat([art,economy,sports]).drop(columns=['Unnamed: 0'])
print(df.shape)
df.head()

(30437, 2)

                                       Article Title Category
0  \n\nWorks by Picasso and others stolen in Spai...      Art
1  \n\nSalwa and Maged at the Art Corner Gallery ...      Art
2  \n\nA tribute to Abdalla Gohar\n\n\n\nOn 1 Dec...      Art
3  \n\nRaw, untamed, and compelling: ‘Flesh’ by S...      Art
4  \n\nFrom water to mosaics\n\n\n\nThe Gezira Ce...      Art

In [3]:
df['Article Title']=df['Article Title'].str.strip()
df =df.reset_index(drop=True)
df = df[['Article Title','Category']]
df

                                           Article Title Category
0      Works by Picasso and others stolen in Spain \n...      Art
1      Salwa and Maged at the Art Corner Gallery \n\n...      Art
2      A tribute to Abdalla Gohar\n\n\n\nOn 1 Decembe...      Art
3      Raw, untamed, and compelling: ‘Flesh’ by Samir...      Art
4      From water to mosaics\n\n\n\nThe Gezira Centre...      Art
...                                                  ...      ...
30432  Germany Bundesliga results & scorers (21st mat...   sports
30433  Barcelona go fourth after winning six-goal thr...   sports
30434  Dortmund humiliated by Leverkusen in Haaland's...   sports
30435  Back from injury, 1st Liverpool goal for teen ...   sports
30436  Manchester City, Chelsea, Spurs get favourable...   sports

[30437 rows x 2 columns]

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.drop_duplicates()
df = df.replace('\n',' ', regex=True)
df.to_csv('final_clean_df.csv')